services:
  mongodb:
    image: mongo
    restart: always
    volumes:
      - mongodbdata:/data/db
    env_file:
      - ./env/mongodb.env
    container_name: mongodb
    ports:
      - 27017:27017

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    volumes:
      - ./backend/src:/app/src
    ports:
      - 8000:8000
    env_file:
      - ./env/backend.env
    depends_on:
      - mongodb
    container_name: todo-backend


volumes:
  mongodbdata:

